spring:
  application:
    name: demo

  datasource:
    url: jdbc:mysql://localhost:3306/click_patas?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: admin
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080